# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDE / Editor configs
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

.env